body {
    margin: 0;
    padding: 0;
}

h1,h2,h3{
    font-family: "Tinos" ;
    font-weight: normal;
    letter-spacing:5px;
    text-transform:uppercase;
  } 
  
  p{
    font-size: 17px;
    letter-spacing: 0.5px;
    font-family: 'Avenir', sans-serif;
    text-align:left;
    max-width: 80%;
    margin: 0 auto; 

  }
header {
    background-color: #000000;
    color: #9a948b;
    padding: 10px 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 50px; /* adjust as needed */
}

.nav-links {
    list-style: none;
    display: flex;
    font-family: "Tinos" ;
    font-weight: normal;
    letter-spacing:5px;
    text-transform:uppercase;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #9a948b;
}

.nav-links a:hover {
    color: white;
}

.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
}

img {
    width: 100%;
    height: auto;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  font-size: 30px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  color: #9a948b;
}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.website-title {
    text-align: center;
    margin: 20px 0;
}

.website-title h1 {
    margin: 0;
    padding: 0;
}

.line {
    width: 100%;
    height: 1px;
    background-color: #000000;
    margin-bottom: 10px;
    margin-top: 50px;
    
}

.content-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    text-align: center;
}


.image-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.image-section img {
    width: 90%;
    height: auto;
    margin-top: 50px;
}

.image-text{
    margin: auto;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
    padding: 80px;
}

footer {
    background-color: black;
    color: white;
    padding: 60px;
    display: flex;
    justify-content: space-between;
  }
  
  footer p {
    margin: 5px 0;
    margin-left: 15px;
    font-family: "Tinos" ;
    font-weight: normal;
    letter-spacing:5px;
    text-transform:uppercase;
    color: #9a948b;
    text-decoration: none;
  }
  
  .footer a {
    color: white;
  }
  
  .social {
    text-decoration: none;
    text-align: center;
  }
  
  .social a {
    margin-right: 10px;
    text-decoration: none;
  }
  
  .social img {
    width: 30px; 
    text-decoration: none;
    border-radius: 50%;
  }

  .site-plan {
  width: 175px;
}

  .site-plan a {
    text-decoration: none;
}

  .site-plan p:hover {
    color: white;
}

  .site-plan p{
    text-decoration: none;
    text-align: right;
}

  .prints-image{
    width: 80%;
    margin: auto;
    padding-bottom: 50px;
  }

.portfolio-image{
  grid-template-columns: 1fr 1fr;
}

.portfolio-section {
  width: 100%;
}

.portfolio-image {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.portfolio-image img {
  max-width: 20%;
  height: auto;
  margin: 10px;
  transition: transform 0.5s ease-in-out; 
}

.portfolio-image img:hover {
  transform: scale(1.5); 
}
.prints-section{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.prints-text{
  margin: auto;
  padding-bottom: 50px;
}
.spacing{
  margin-bottom: 50px;
}