body {
    margin: 0;
    padding: 0;
}

h1,h2,h3{
    font-family: "Tinos" ;
    font-weight: normal;
    letter-spacing:5px;
    text-transform:uppercase;
  } 
  
  p{
    font-size: 17px;
    letter-spacing: 0.5px;
    font-family: 'Avenir', sans-serif;
    text-align:left;
    max-width: 80%;
    margin: 0 auto; 

  }
header {
    background-color: #000000;
    color: #9a948b;
    padding: 10px 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 50px; /* adjust as needed */
}

.nav-links {
    list-style: none;
    display: flex;
    font-family: "Tinos" ;
    font-weight: normal;
    letter-spacing:5px;
    text-transform:uppercase;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #9a948b;
}

.nav-links a:hover {
    color: white;
}

.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
}

img {
    width: 100%;
    height: auto;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  font-size: 30px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  color: #9a948b;
}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.website-title {
    text-align: center;
    margin: 20px 0;
}

.website-title h1 {
    margin: 0;
    padding: 0;
}

.line {
    width: 100%;
    height: 1px;
    background-color: #000000;
    margin-bottom: 10px;
    margin-top: 50px;
    
}

.content-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    text-align: center;
}


.image-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.image-section img {
    width: 90%;
    height: auto;
    margin-top: 50px;
}

.image-text{
    margin: auto;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
    padding: 80px;
}

footer {
    background-color: black;
    color: white;
    padding: 60px;
    display: flex;
    justify-content: space-between;
  }
  
  footer p {
    margin: 5px 0;
    margin-left: 15px;
    font-family: "Tinos" ;
    font-weight: normal;
    letter-spacing:5px;
    text-transform:uppercase;
    color: #9a948b;
    text-decoration: none;
  }
  
  .footer a {
    color: white;
  }
  
  .social {
    text-decoration: none;
    text-align: center;
  }
  
  .social a {
    margin-right: 10px;
    text-decoration: none;
  }
  
  .social img {
    width: 30px; 
    text-decoration: none;
    border-radius: 50%;
  }

  .site-plan {
  width: 175px;
}

  .site-plan a {
    text-decoration: none;
}

  .site-plan p:hover {
    color: white;
}

  .site-plan p{
    text-decoration: none;
    text-align: right;
}

  .prints-image{
    width: 80%;
    margin: auto;
    padding-bottom: 50px;
  }

.portfolio-image{
  grid-template-columns: 1fr 1fr;
}

.portfolio-section {
  width: 100%;
}

.portfolio-image {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.portfolio-image img {
  max-width: 20%;
  height: auto;
  margin: 10px;
  transition: transform 0.5s ease-in-out; 
}

.portfolio-image img:hover {
  transform: scale(1.5); 
}
.prints-section{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.prints-text{
  margin: auto;
  padding-bottom: 50px;
}
.spacing{
  margin-bottom: 50px;
}
#feedback {
  padding: .5em;  
  font-size: 17px;
  letter-spacing: 0.5px;
  font-family: 'Avenir', sans-serif;
}

button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, input, select, textarea {
  color: #5A5A5A;
  font-family: 'Avenir';
  margin: 0;
}

input {
  line-height: normal;
}

textarea {
  overflow: auto;
}

#container {
  border: solid 3px #474544;
  max-width: 768px;
  margin: 60px auto;
  position: relative;
}

form {
  padding: 37.5px;
  margin: 50px 0;
}

h1 {
  color: #474544;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 7px;
  text-align: center;
  text-transform: uppercase;
}

.email {
	float: right;
	width: 45%;
}

input[type='text'], [type='email'], select, textarea {
	background: none;
  border: none;
	border-bottom: solid 2px #474544;
	color: #474544;
	font-size: 1.000em;
  font-weight: 400;
  letter-spacing: 1px;
	margin: 0em 0 1.875em 0;
	padding: 0 0 0.875em 0;
  text-transform: uppercase;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

input[type='text']:focus, [type='email']:focus, textarea:focus {
	outline: none;
	padding: 0 0 0.875em 0;
}

.message {
	float: none;
}

.name {
	float: left;
	width: 45%;
}

select::-ms-expand {
  display: none;
}

.subject {
  width: 100%;
}

.telephone {
  width: 100%;
}

textarea {
	line-height: 150%;
	height: 150px;
	resize: none;
  width: 100%;
}
#form_button {
  background: none;
  border: solid 2px #474544;
  color: #474544;
  cursor: pointer;
  display: inline-block;
  font-family: 'Helvetica', Arial, sans-serif;
  font-size: 0.875em;
  font-weight: bold;
  outline: none;
  padding: 20px 35px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

#form_button:hover {
  background: #474544;
  color: #F2F3EB;
}